<div class="d-flex align-items-center">
  <div class="d-flex align-items-center flex-nowrap flex-grow-1 overflow-hidden"
       [class.text-muted]="task.completed">
    <i class="far" role="button"
       [title]="task.completed ? 'Completada' : 'No completada'"
       [class.fa-circle]="!task.completed"
       [class.text-primary]="!task.completed"
       [class.fa-check-circle]="task.completed"
       (click)="toggleCompletion()"></i>

    <span class="flex-grow-1 ms-2" (click)="select()">
      {{ this.task.title }}
    </span>
  </div>

  <i *ngIf="pastDueDate" class="fas fa-exclamation-triangle text-danger"></i>
  <a href="#" (click)="delete($event)"><i class="far fa-trash-alt text-danger mx-3"></i></a>
  <a href="#" *ngIf="task.important" (click)="toggleImportance($event)"><i class="fas fa-star"></i></a>
  <a href="#" *ngIf="!task.important" (click)="toggleImportance($event)"><i class="far fa-star"></i></a>
</div>
