<div class="input-group">
  <input type="text" id="new-task"
         class="form-control" placeholder="Agregar nueva tarea..."
         [(ngModel)]="taskTitle"
         (keyup)="captureEnterKey($event)">
  <span class="input-group-text">
    <a href="#" *ngIf="important" (click)="toggleImportance($event)"><i class="fas fa-star"></i></a>
    <a href="#" *ngIf="!important" (click)="toggleImportance($event)"><i class="far fa-star"></i></a>
  </span>
  <button (click)="createTask()" type="button"
          class="btn btn-outline-primary"><i class="fas fa-plus"></i></button>
</div>
